language: node_js
services: mongodb
node_js:
- '0.10'
before_script: npm install --dev
script: npm test
env:
  global:
  - PROVIDER_URL="http://localhost:8000"
  - ANYFETCH_API_ID="CLUESTR-ID"
  - ANYFETCH_API_SECRET="CLUESTR-SECRET"
before_install:
- openssl aes-256-cbc -K $encrypted_b0ff881e5a1e_key -iv $encrypted_b0ff881e5a1e_iv
  -in .env.enc -out .env -d
